/* 
no design:
832 main;
256 aside;
32 espaço entre eles;
total: 1120;
1120 / 16 = 70 rem; 
*/
.wrapper{
    max-width: 70rem;
    margin: 2 auto;
    padding: 0 1rem;

    /* separando a sidebar dos posts: */
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem; /* 2*16 = 32 de espaço entre eles */
    align-items: flex-start; /* isso faz com que ambos estejam alinhados com o topo da tela, para que a sidebar não tente ficar do mesmo tamanho da main */

}